.dropdown-box
    .field__title
        h3.title__text_3 dropdown
        p.title__text_p EXPANDED
    .dropdown-full
        p.title__text_p 
        img(src=require("/src/img/expand_more.svg"), icon)
    .dropdown-menu
        .dropdown-menu-row
            h3.title__text_3 спальни
            .counter
                .counter__button-minus -
                .number 0
                .counter__button-plus + 
        .dropdown-menu-row
            h3.title__text_3 кровати
            .counter
                .counter__button-minus -
                .number 0
                .counter__button-plus + 
        .dropdown-menu-row
            h3.title__text_3 ванные комнаты
            .counter
                .counter__button-minus -
                .number 0
                .counter__button-plus +

    
        