.full-button{
    cursor: pointer;
    line-height: 15px;
    padding: 14px 20.5px 15px;
    font: {
        weight: bold;
        size: 12px;
    }

    text-transform: uppercase;
    color: white;
    text-transform: uppercase;
    border-radius: 22px;
    border: none;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    &[disabled]{
        opacity: 0.5;
    }
}

.empty-button{
    cursor: pointer;
    line-height: 15px;
    padding: 12px 18.5px 13px;
    font: {
        weight: bold;
        size: 12px;
    }
    text-transform: uppercase;
    color: #BC9CFF;
    border: 2px solid transparent;
    border-radius: 22px;
    box-shadow: 2px 1000px 1px #fff inset;
    background: {
        image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        origin: border-box;
        clip: content-box, border-box;
    }
    &:hover,
    &:focus{
        box-shadow: none;
        color: white;
    }
    &[disabled]{
        opacity: 0.5;
    }
}

.link-button{
    cursor: pointer;
    border:none;
    background-color: transparent;
    font: {
        weight: bold;
        size: 12px;
    }
    text-transform: uppercase;
    line-height: 15px;
    color: #BC9CFF;
    &[disabled]{
        color: rgba(31, 32, 65, 0.5);
    }
}

.pass-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 292px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 0 14px;
    cursor: pointer;
    h3{
        color: white;
        height: 15px;
        font-size: 12px;
        margin-left: auto;
    }
    img{
        margin-left: auto;
        
    }
    
}