.field__title 
    h3.title__text_3 buttons
.checkfield 
    .button-row
        .right-20
            button.full-button click me
        button.full-button(disabled) click me
    .button-row
        .right-20
            button.empty-button click me
        button.empty-button(disabled) click me
    .button-row
        button.link-button click me
        button.link-button(disabled) click me
    .button-row
        .pass-button
            h3.title__text_3 перейти к оплате
            img(src=require("/src/img/arrow_forward.svg"), alt="arrow")




    

    