.dark{
    &-100{
        background: #1F2041;
    }
    &-75{
        background: rgba(31, 32, 65, 0.75)
    }
    &-50 {
        background: rgba(31, 32, 65, 0.50)
    }
    &-25{
        background: rgba(31, 32, 65, 0.25)
    }
    &-5{
        background: rgba(31, 32, 65, 0.05)
    }
}

.purple{
    background: #BC9CFF;
}

.green{
    background: #6FCF97;
}

.color__block {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.color__block:first-child{
    margin-top: 0;
}

.color__rectangle{
    height: 70px;
    width: 70px;
    border-radius: 6px;
}

.color__text{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;

    h3 {
        font-weight: bold;
        margin: 0;
    }

    p {
        font-weight: 400;
        margin: 0;
    }
}

.title{
    display: flex;
    justify-content: flex-start;
    max-width: 500px;
    margin-top: 50px;
    :first-child {
        margin-top: 0;
    }
}

.title__label {    
    &-1{
        
        color:rgba(31, 32, 65, 0.25);
        width: 37px;
        text-align: right;
        margin-right: 30px;
    }
    &-2 {
        
        color:rgba(31, 32, 65, 0.25); 
        width: 37px;
        text-align: right;
        margin-right: 30px;
    }
    
    &-3 {
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        color:rgba(31, 32, 65, 0.25);
        width: 37px;
        text-align: right;
        margin-right: 30px;
    }
    &-p {
       
        color:rgba(31, 32, 65, 0.25);
        width: 37px;
        text-align: right;
        margin-right: 30px;
    }
}

.title__text{
    &_1 {   
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        margin: 0;
    }
    &_2 {
        font-size: 19px;
        font-weight: 700;
        line-height: 23px;
        margin: 0;
    }
    &_3 {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        line-height: 15px;
        margin: 0;
    }
    &_p {
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        color:rgba(31, 32, 65, 0.75);
        margin: 0;
    }
}
