.header{
    display: flex;
    justify-content: space-between;
    padding: 15px 140px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);

    .header__logo{
        width: 105.69px;
        height: 40px;
    }

    &__toolbar{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__person {
        font-size: 14px;
        line-height: 30px;
        color: rgba(31, 32, 65, 0.5);
        border-left: 1px solid rgba(31, 32, 65, 0.1);
        padding-left: 20px; 
    }

    ul{
        display: flex;
        list-style: none;
        margin: 0;
        li{
            display: flex;
            font-size: 14px;
            line-height: 17px;
            color: rgba(31, 32, 65, 0.5);
            align-items: center;
            margin-right: 20px;
            cursor: pointer;

            &:first-child{
                font-weight: 700;
                color: rgba(31, 32, 65, 0.75);
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
    
}

.header__login-button{
    height: 34px;
    width: 87px;
    button{
        cursor: pointer;
        line-height: 15px;
        padding: 7.5px 20.42px;
        font: {
            weight: bold;
            size: 12px;
        }
        text-transform: uppercase;
        color: #BC9CFF;
        border: 2px solid transparent;
        border-radius: 22px;
        box-shadow: 2px 1000px 1px #fff inset;
        background: {
            image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            origin: border-box;
            clip: content-box, border-box;
        }
        &:hover,
        &:focus{
            box-shadow: none;
            color: white;
        }
        &[disabled]{
            opacity: 0.5;
        }
    }
}

.header__pass-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    padding: 9.5px 19.5px;
    cursor: pointer;
    h3{
        color: white;
        line-height: 15px;
        font-size: 12px;
        margin-left: auto;
    }
}