.checkbox-dropdown
    .checkbox-dropdown__title
        h3.title__text_3 expandable checkbox 
        img(src=require("/src/img/expand_more.svg"), icon).rotating
    .checkbox-dropdown__list
        label.check
            input(type="checkbox").check__input
            span.check__box
            | Завтрак        
        label.check
            input(type="checkbox" checked).check__input
            span.check__box
            | Письменный стол
        label.check
            input(type="checkbox").check__input
            span.check__box
            | Стул для кормления
        label.check
            input(type="checkbox" checked).check__input
            span.check__box
            | Кроватка
        label.check
            input(type="checkbox").check__input
            span.check__box
            | Телевизор       
        label.check
            input(type="checkbox" checked).check__input
            span.check__box
            | Шампунь
        label.check
            input(type="checkbox").check__input
            span.check__box
            | Телевизор        
        label.check
            input(type="checkbox" checked).check__input
            span.check__box
            | Шампунь