h3.title__text_3 toggle
.checkfield
    label.toggle
        input(type="checkbox").toggle__input
        span.toggle__box           
        | Получать спецпредложения
    label.toggle
        input(type="checkbox").toggle__input
        span.toggle__box
        | Получать спецпредложения
    
