h3.title__text_3 rate buttons
.checkfield
    .ratefield
        .rating(data-total-value="4")
             .rating__star(data-item-value="5")
             .rating__star(data-item-value="4")
             .rating__star(data-item-value="3")
             .rating__star(data-item-value="2")
             .rating__star(data-item-value="1")
        .rating(data-total-value="5")
             .rating__star(data-item-value="5")
             .rating__star(data-item-value="4")
             .rating__star(data-item-value="3")
             .rating__star(data-item-value="2")
             .rating__star(data-item-value="1")
        
