.header
    .header__logo
        img(src=require("./logo.svg"), alt="")
    .header__toolbar
        ul
            li О нас
            li Услуги
                img(src=require("./expand_more.svg"), alt="")
            li Вакансии
            li Новости
            li Соглашения
                img(src=require("./expand_more.svg"), alt="")
        .header__login-button
            button войти
        .header__pass-button
            h3.title__text_3 зарегистрироваться