.header
    img(src=require("./logo.svg"), alt="").header__logo
    .header__toolbar
        ul
            li О нас
            li Услуги
                img(src=require("./expand_more.svg"), alt="")
            li Вакансии
            li Новости
            li Соглашения
                img(src=require("./expand_more.svg"), alt="")
        .header__person Юлий Цезарь