.bullet-list{
    padding: 0 0 0 7.5%;
    width: 266px;
    li {
        font-size:14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75);
        &::marker{
            font-size: 24px;
            color: rgba(31, 32, 65, 0.25)
        }
    }
}