.field__title 
    h3.title__text_3 pagination
.checkfield
    .pagination
        .pag-item.prev
            img(src="/src/img/arrow_back.svg")
        a.pag-item 1
        a.pag-item.select 2
        a.pag-item 3
        a.pag-item 4
        a.pag-item 5
        a.pag-item ...
        .pag-item.next 
            img(src="/src/img/arrow_forward.svg")

    