@import '/src/styles/form__elements/elements/input/_input.scss';

.dropfield{
    display: flex;
    justify-content: space-between;
}
.dropdown-box{
    display: inline-block;
}
.date-dropdown-small{
    @extend .field__area;
    width: 148px;
}

.date-dropdown-medium{
    @extend .field__area;
    width: 264px;
}

.sub-field{
    @extend .date-dropdown-medium;
    p{
        color:rgba(31, 32, 65, 0.5)
    }
}
