.comment
    .comment__row
        .comment__avatar
            img(src=require("./avatar.png"))
        .comment__person
            h3  Мурад Сарафанов
            p 5 дней назад
    .comment__row
        .comment__like  
            label.like
                input(type="checkbox" checked).like__input
                .like__box
                    p.title_text_p 12
        .comment__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.