@font-face {
    font-family: generalFont;
    src: url("../fonts/Montserrat-Regular.ttf")format("truetype"),
         url("../fonts/Montserrat-Bold.ttf")format("truetype"),
         url("../fonts/Montserrat-Bold.ttf")format("truetype");
}
