html {
    font-family: generalFont;
    color: #1F2041;
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    background: #ffffff;
}

.container{
    display:flex;
    flex-direction: column;
}

section{
    display:flex;
    justify-content: space-evenly;
    margin-top: 37px;
}





