html {
    font-family: generalFont;
    color: #1F2041;
}
// COLORS
.dark-100{
    background: #1F2041;
}
.dark-75{
    background: rgba(31, 32, 65, 0.75);
}
.dark-50{
    background: rgba(31, 32, 65, 0.5);
}
.dark-25{
    background: rgba(31, 32, 65, 0.25);
}
.dark-25{
    background: rgba(31, 32, 65, 0.25);
}
.dark-5{
    background: rgba(31, 32, 65, 0.05);
}
.purple{
    background: #BC9CFF;
}
.green{
    background: #6FCF97;
}
//COLOR BLOCK
.main__container{
    display:flex;
    justify-content: space-evenly;
    margin-top: 37px;
}

.container{
    display:flex;
    flex-direction: column;
}
.color__block {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.color__rectangle{
    height: 70px;
    width: 70px;
    border-radius: 6px;
}
.color__text{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 40px;
    font: {
        style:normal;
        size: 19px;
    }
    width: 171px;
    height: 56px;
}

.color__text h4{
    font-weight: bold;
    margin: 0;

}
.color__text p{
    font-weight: 400;
    margin: 0;
}

