html {
    font-family: generalFont;
    color: #1F2041;
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    background: #ffffff;
}
body{
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    flex-direction: column;
}

section{
    display:flex;
    justify-content: space-evenly;
    margin-top: 37px;
}

.form__area{
    display: flex;
    flex-direction: column;
    padding: 40px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.max-h{
    width: 320px;
}



