h3.title__text_3 toggle
.checkfield
    .check__item
        label
            input(type="checkbox").default__check.switchbox
            span.custom__check          
            | Получать спецпредложения
        label
            input(type="checkbox").default__check.switchbox
            span.custom__check
            | Получать спецпредложения
    
