@import '/src/styles/mixins/text-size';

.likefield{
    display: flex;
    height: 20px;
}

.like{
    display:block;
    position: relative;
    cursor: pointer;
    margin-right: 50px;

    &__input{
        position: absolute;
        -webkit-appearance: none;
    }
    &__box{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 18px;
        min-width: 28px;
        border: 1px solid rgba(31, 32, 65, 0.25); 
        border-radius: 10px;
        padding-left: 10px;
        background: 11% center no-repeat url('/src/styles/form__elements/elements/like-button/favorite_border.svg');
        transition: .2s;
        p{
            display: inline;
            @include text-size(10px, 400, 12px);
            color: rgba(31, 32, 65, 0.25);
        }    
    }
}   
.like__input:checked + .like__box{
    background: 11% center no-repeat url('/src/styles/form__elements/elements/like-button/favorite.svg');
    border-color: #BC9CFF;
    p{
        color: #BC9CFF;
    }
}



