h3.title__text_3 like button
.checkfield
    .likefield    
        label.like
            input(type="checkbox").like__input
            .like__box
                p.title_text_p 2
        label.like
            input(type="checkbox" checked).like__input
            .like__box
                p.title_text_p 12
