html
    include _head
    body
        include header/_header
        section
            // INPUTS
            .container
                .field-20
                    include blocks/text-field/_text-field
                .field-20
                    include blocks/dropdown/default/_default
                .field-40
                    .dropfield                        
                        include blocks/dropdown/small/_small                        
                        include blocks/dropdown/small/_small
                .field-40
                    .dropfield
                        include blocks/dropdown/medium/_medium
                .field-40
                    .dropfield
                        include blocks/subscription-email/_subscription
                    
            // CHECK BUTTONS
            .container
                .field-40
                    include blocks/checkboxes/_checkboxes
                .field-40
                    include blocks/radio/_radio
                .field-40 
                    include blocks/toggle/_toggle
                .field-40
                    include blocks/like-button/_like-button
                .field-40
                    include blocks/rate/_rate
            
            // OTHER WIDGETS

            .container
                .field-40
                    include blocks/price-range/_price-range
                .field-40
                    include blocks/buttons/_buttons
                .field-40
                    include blocks/pagination/_pagination
        section
            .container
                .field-40
                    include blocks/dropdown/full/_full
                .field-40
                    .checkbox-dropdown__title
                        h3.title__text_3 expandable checkbox 
                        img(src=require("/src/img/expand_more.svg"), icon).rotating
                .field-40
                    include blocks/checkbox-dropdown/_checkbox-dropdown
            .container
                .field-40
                    include blocks/dropdown/full/_full
                .field-40
                    include blocks/rich-checkboxes/_rich-checkboxes
            .container
                .field-40
                    include blocks/dropdown/full/_full
                .field-40
                    include blocks/bullet-list/_bullet-list 
        section
            .container
                .field-40
                    include blocks/achievments/_achievments
            .container
                .field-40
                    include blocks/comment/_comment
                      
                        
