html
    include _head
    body
        include header/_header
        section
            .container
                .container.form__element
                    .input__title
                        h3.title__text_3 text field
                        p.title__text_p DEFAULT
                    input(placeholder="Email").input__area
                .container.form__element
                    .input__title
                        h3.title__text_3 Dropdown
                    input(placeholder="Сколько гостей").dropdown