html 
    include _head
    body(style="background: #F4F4F6;")
        include _logo
        section
            include forms/roomSearchForm/_roomSearchForm
            include forms/registrationForm/_registrationForm
            include forms/roomCard/_roomCard
            