html
    include _head
    body
        include header/_header
        section
            // INPUTS
            .container
                .field
                    include blocks/text-field/_text-field
                .field
                    include blocks/dropdown/default/_default
                .dropdown-boxfield
                    include blocks/dropdown/small/_small 
                    include blocks/dropdown/small/_small
                .dropdown-boxfield
                    include blocks/dropdown/medium/_medium
                .dropdown-boxfield
                    include blocks/subscription-email/_subscription
                    
            // CHECK BUTTONS
            .container
                .field 
                    include blocks/checkboxes/_checkboxes
                        
                        
