html
    include _head
    body(style="background: #F4F4F6;")
        include _logo
        include header/_header-new
        .field-40
            include header/_header-loged
        .field-40
            include footer/_footer
        .field-40
            include footer/_footer__narrowed
        