@import '/src/styles/mixins/text-size';
@import '/src/styles/form__elements/elements/checkbox/checkbox';

.toggle{
    @extend .check;
    @include text-size(14px, 200, 24px);
    padding-left: 50px;
    color: rgba(31, 32, 65, 0.75);
    max-width: 260px;
    &__input{
        @extend .check__input;
    }
    &__box{
        width: 40px;
        height: 21px;
        margin-left: -50px;
        margin-top: 1px;
        background: url('/src/styles/form__elements/elements/toggle/switch-off.svg');
    }
}

.toggle__input:hover + .toggle__box{
        background: url('/src/styles/form__elements/elements/toggle/switch-off.svg');
}

.toggle__input:checked + .toggle__box{
    background: url('/src/styles/form__elements/elements/toggle/switch-on.svg');
}

