@import '/src/styles/mixins/text-size';

.checkfield {
    margin-top: 16px;
}

.check{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
    cursor: pointer;
    @include text-size(14px, 400, 18px);
    color: rgba(31, 32, 65, 0.5);
    max-width: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__input{
        position: absolute;
        -webkit-appearance: none;
    }

    &__box{
        position:absolute;
        width: 20px;
        height: 20px;
        background: url('/src/styles/form__elements/elements/checkbox/checkbox-inactive.svg');
        margin-left: -30px;
        margin-top: -2px;
        transition: .2s;

    }
}

.check__input:hover + .check__box{
    background: url('/src/styles/form__elements/elements/checkbox/checkbox-focused.svg');
}

.check__input:checked + .check__box {
    background: url('/src/styles/form__elements/elements/checkbox/checkbox-active.svg');
}



