@use "/src/styles/mixins/text-size";
@import "/src/styles/colors__types/_colors__types";

.checkfield {
    margin-top: 17.12px;
}

.check{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    @include text-size(14px, 400, 18px);
    color: rgba(31, 32, 65, 0.5);
    max-width: 196px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__input{
        position: absolute;
        -webkit-appearance: none;
    }

    &__box{
        position:absolute;
        width: 20px;
        height: 20px;
        background: url('/src/styles/form__elements/elements/checkbox/disabled.svg');
        margin-left: -30px;
        margin-top: -2px;

    }
}
.check__input:hover + .check__box{
    background: url('/src/styles/form__elements/elements/checkbox/focused.svg');
}
.check__input:checked + .check__box {
    background: url('/src/styles/form__elements/elements/checkbox/focused.svg'), 
    center / 48% no-repeat url('/src/styles/form__elements/elements/checkbox/enabled.svg');
}



