.achievment{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    width: 280px;
    height: 65px;
}

.achievment__logo{
    width: 48px;
    height: 48px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        
    }
}
.achievement__description{
    p {
        margin: 0;
        font-size: 14px;
    }
    .achievment__title{
        font-weight: 700;
    }
    .achievment__subscription{
        font-weight: 400;
    }
}