.check-item{
    display: flex;
    width: 266px;
}

.check-title{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    color: rgba(31, 32, 65, 0.75);
}
.check-subtitle{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color:rgba(31, 32, 65, 0.5);
    margin: 5px 0 10px 0;
}