
.pricefield{
    display: flex;
    align-items: center;
}
.noUi-handle::after, 
.noUi-handle::before  {
    display: none;
}
.range-slider,
.range-slider .noUi-handle{
    box-shadow: none;
} 

.noUi-target{
    box-sizing: border-box;
    height: 6px;
    width: 264px;
    border-radius: 3px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    background-color: white;
    box-shadow: none;
}

.noUi-horizontal {
    .noUi-handle{
        box-shadow: none;
        height: 12px;
        width: 12px;
        border: 2px solid white;
        border-radius: 10px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); 
        right: -5px;
        top: -6px
    }
}

.noUi-connects{
    overflow: visible;  
}
.noUi-connect{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    height: 6px;
    top: -1px
}

// #slider{
//     height: 6px;
//     width: 266px;
// }
