.field__title 
    h3.title__text_3 rich checkbox buttons
.checkfield
    .check-item
        label.check
            input(type="checkbox").check__input
            span.check__box
        .check-text 
            p.check-title Широкий коридор
            p.check-subtitle Ширина коридоров в номере не менее 91 см
    .check-item
        label.check
            input(type="checkbox").check__input
            span.check__box
        .check-text 
            p.check-title Помощник для инвалидов
            p.check-subtitle На 1 этаже вас встретит специалист и проводит до номера.