.ratefield {
  display: flex;
}

.rating {
  margin-right: 20px;
  display: inline-flex;
  flex-direction: row-reverse;
  &__star {
    height: 24px;
    width: 24px;
    cursor: pointer;
    background: center no-repeat
      url("/src/styles/form__elements/elements/rating/star_border.svg");
    transition: .2s;
    &:hover,
    &:hover ~ & {
        background: center no-repeat
        url("/src/styles/form__elements/elements/rating/star.svg");
    }
  }
  &[data-total-value="1"] .rating__star:nth-child(n + 5),
  &[data-total-value="2"] .rating__star:nth-child(n + 4),
  &[data-total-value="3"] .rating__star:nth-child(n + 3),
  &[data-total-value="4"] .rating__star:nth-child(n+ 2),
  &[data-total-value="5"] .rating__star:nth-child(n + 1){
    background: center no-repeat
        url("/src/styles/form__elements/elements/rating/star.svg");
  }
}



