.footer{
    padding: 100px 140px;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
    display: flex;
    justify-content: space-between;
    background: #fff;

    &__container{
        max-width: 260px;

        p{
            margin: 20px 0 20px 0;
        }

        ul{
            list-style: none;
            margin: 21px 0 0 0;
            padding: 0;

            li{
                font-size: 14px;
                line-height: 17px;
                color: rgba(31, 32, 65, 0.5);
                margin:0 0 20px 0;
                cursor: pointer;
                &:last-child{
                    margin-bottom: 0;
                }
                &:hover{
                    font-weight: 700;
                }
            }
        }
    }
}

.footer__bottom{
    margin-top: 1px;
    padding: 23px 140px;
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    .social{
        img{
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.footer__narrowed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 768px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    margin-left: auto;
    margin-right: auto;
    p{
        margin: 20px 0 25px 0;
    }
}