@import "/src/styles/colors__types/_colors__types";

.field {
    &__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15px;
    }

    &__area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1.7px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        height: 42px;
        width: 318px;
        margin-top: 5px;
        input{
            height: 40px;
            width: 200px;
            outline: 0;
            border: none;
            margin-left: 15px;
            &::placeholder{
                @extend .title__text_p;
                font-size: 14px;
                color:rgba(31, 32, 65, 0.25);
            }
        }

        p {
            margin-left: 15px;
        }

        img{
            margin-right: 15px;
        }

        &:hover, &:focus{
            border: 1.7px solid rgba(31, 32, 65, 0.5);
            p {
                color: rgba(31, 32, 65, 0.75);
            }
        }
    }
}
