.input__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.input__area{
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    height: 44px;
    width: 320px;
    padding-left: 15px;
    margin-top: 3px;

    &::placeholder{
    color: rgba(31, 32, 65, 0.25);
    font-weight: 400;
    font-size: 14px;
    }

    &:hover{
        border: 1px solid rgba(31, 32, 65, 0.5);
        color: rgba(31, 32, 65, 0.75);
        &::placeholder{
            color: rgba(31, 32, 65, 0.75);
        }
    }
}
.dropdown{
    @extend .input__area;
    &::placeholder{
        color: rgba(31, 32, 65, 0.75);
    }
    background: scroll url('/src/img/expand_more.svg') bottom 5% / 5% no-repeat;
}
