.checkbox-dropdown__title{
    display: flex;
    justify-content: space-between;
    width: 266px;
    height: 44px;
    align-items: center;
    .rotating{
        width: 13px;
        height: 8px;
        margin-right: 15px;
        transition: all .6s;
        &.rotated{
            transform: rotate(180deg);
        }
    }
}
