@use 'elements/input/input.scss';
@use 'elements/dropdown/dropdown.scss';
@use 'elements/checkbox/checkbox';

.container {
    .field {
        margin-top: 20px;
        &:first-child{
            margin-top: 0;
        }
    }
}
