@use 'elements/input/input.scss';
@use 'elements/dropdown/dropdown.scss';
@use 'elements/checkbox/checkbox';
@use 'elements/radio/radio';
@use 'elements/toggle/toggle';
@use 'elements/like-button/like-button';
@use 'elements/rating/rating';
@use  'elements/price-range/price-range';
@use 'elements/buttons/buttons';
@use 'elements/pagination/pagination';
@use 'elements/checkbox-dropdown/checkbox-dropdown';
@use 'elements/achievments/achievments';

.field-20 {
    margin-top: 20px;
    &:first-child{
        margin-top: 0;
    }
}

.field-40{
    margin-top: 40px;
   &:first-child{
       margin-top: 0;
    }
} 

.right-20{
    margin-right: 20px;
}

.button-row{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;    
    &:last-child{
        margin-bottom: 0;
    }
}