include pug/libs/_libs

doctype html
html
    include pug/_head
    body
        include pug/header
        .main__container
            .container
                .color__block 
                    div(class="color__rectangle dark-100") 
                    .color__text 
                        h4 Dark Shade 100%
                        p #1F2041
                .color__block 
                    div(class="color__rectangle dark-75") 
                    .color__text 
                        h4 Dark Shade 75%
                        p #1F2041
                .color__block 
                    div(class="color__rectangle dark-50") 
                    .color__text 
                        h4 Dark Shade 50%
                        p #1F2041
                .color__block 
                    div(class="color__rectangle dark-25") 
                    .color__text 
                        h4 Dark Shade 25%
                        p #1F2041
                .color__block
                    div(class="color__rectangle dark-5") 
                    .color__text 
                        h4 Dark Shade 5%
                        p #1F2041
                .color__block
                    div(class="color__rectangle purple") 
                    .color__text 
                        h4 Purple
                        p #BC9CFF
                .color__block
                    div(class="color__rectangle green") 
                    .color__text 
                        h4 Green
                        p #6FCF97
