.achievment
    .achievment__logo
        img(src=require(".//insert_emoticon.svg"), icon)
    .achievment__description
        p.achievment__title Удобство
        p.achievment__subscription Шумопоглощающие стены
.achievment
    .achievment__logo
        img(src=require(".//location_city.svg"), icon)
    .achievment__description
        p.achievment__title Удобство
        p.achievment__subscription Шумопоглощающие стены