.dropdown-box
    .field__title
        h3.title__text_3 filter date dropdown
    .date-dropdown-medium
        p.title__text_p 19 авг - 23 авг
        img(src=require("/src/img/expand_more.svg"), icon)